Notebook 1, Module 1, Data and Data Management, CAS Applied Data Science, 2019-08-20, S. Haug, University of Bern.

# 1. Data Management

Estimated study time is up to 2 hours. According to your background and how much you want to learn, you may need more or less. You are supposed to google, read manuals and chat with others during working through this notebook in order to benefit fully.

**Learning outcomes - after completion you**
- Know about data sources, types and formats (see lecture slides)
- Able to import and export data in Python
- Able to do simple things with dataframes in Python
- Know about data volumes, metadata and quality

- Able to plot histograms and scatter plots in Python

**Documentation on Pandas DataFrame**
- Python: https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.html

## Outline

     0. About data management
     1. Getting used to Jupyter lab
     2. Import datasets into a Python dataframe
     3. Indexing on a dataframe
     4. Sorting 
     5. Filtering
     6. Exporting
     7. Missing and bad data
     8. Metadata
     9. Working on the filesystem

### 0. About data management

Handling or managing data involves many steps and technologies at many levels. Data my be colleccted by sensors. It can be a camera, a temperature sensor, a telescope, a microscope (with a camera), a microphone, a particle detector etc. Normally the data is then digitised, maybe preprocessed and written to some media in a certain format, e.g. hard disk. This part of the data management is normally taken care of by engineers. 

Data may also be collected from all sorts of databases, so data already collected somehow. Time series of financial data, customers, passengers, facebook likes, twitter tweets etc. This is data which is normally already on a media with some interface for access, e.g. paper to be read by a camera, a file on youtube, a table on wikipedia etc. We will look at some ways to collect such data. Some programming and computer skills are needed to do so. It may be that this part of the data management is taken care of by specialised computer scientists, but it may also be expected from a data scientist to have these skills. 

Analysing data with statisitical and machine learning tools, requires that the data is colleceted, cleaned, prepared for the tools. This is very often a very large part of a data analytics project and a prerequisite. It may involve removing bad data, filter out redundant and noisy data, unify the formats and types, transform the data etc. 
Thus, a data scientist must be able to perform this part of the data management. This notebook shows the basic operations with Python pandas. With other tools the concepts and operations are very similar.

After the data analysis, after the extraction of information and the creation of knowledge, the data is often stored or archived for the future (if this seems cheaper than regenerating the data at a later point). In larger institutions this part of the data management may include educated librarians and others, not necessarily the data scientist.

### 1. Getting used to Jupyter lab and computational notebooks

Jupyter lab is a "laboratory" where you can write rich text notebooks with executable code via your browser. There are several so-called kernels or computational back ends, i.e Python, R, Julia, bash etc can be supported. The text is written as Markdown. Latex is also supported (good for math). You can export the notebook in various formats, e.g. html. Everything can be done via the various tabs, however, the key shortcuts make you faster. 

*Useful key combinations*

- Shift Enter or Control Enter = Run cell
- Option Enter = Run cell and Insert new cell below

*Exercises (10 min)*
- Change and run this cell
- Add a new cell and execute some python statement in it
- Study the tabs

In [14]:
# Write some Python here

print('Hallo Sigve')

Hallo Sigve

### 2. Import a dataset into a Python DataFrame

Pandas is a Python Module/Library for data analysis and manipulation. It has the data structure DataFrame which is quite powerful. Features

- DataFrame object for data manipulation with integrated indexing.
- Tools for reading and writing data between in-memory data structures and different file formats.
- Data alignment and integrated handling of missing data.
- Reshaping and pivoting of data sets.
- Label-based slicing, fancy indexing, and subsetting of large data sets.
- Data structure column insertion and deletion.
- Group by engine allowing split-apply-combine operations on data sets.
- Data set merging and joining.
- Hierarchical axis indexing to work with high-dimensional data in a lower-dimensional data structure.
- Time series-functionality: Date range generation and frequency conversion, moving window statistics, moving window linear regressions, date shifting and lagging.

The module is highly optimized for performance, with critical code paths written in Cython or C. Documentation here: https://pandas.pydata.org/pandas-docs/stable/api.html

For input/output (I/O) there are methods for reading SQL databases, HTML tables, clipboard, SAS, STATA etc.

In [15]:
import pandas

In [16]:
# import the python module pandas with the abbreviation pd
import pandas as pd
# Read the data in the iris.csv file into a dataframe
dataframe = pd.read_csv('iris.csv',dtype='str',names=['slength','swidth','plength','pwidth','species']) # data type is a string (str), i.e. not converted into numbers
dataframe.head() # print data

  slength swidth plength pwidth      species
0     5.1    3.5     1.4    0.2  Iris-setosa
1     4.9    3.0     1.4    0.2  Iris-setosa
2     4.7    3.2     1.3    0.2  Iris-setosa
3     4.6    3.1     1.5    0.2  Iris-setosa
4     5.0    3.6     1.4    0.2  Iris-setosa

The notebook shows 50 rows per default. We can change this as we like:

In [17]:
pd.set_option('display.max_rows', 30) # or whatever number you like or None

In [18]:
dataframe.head

<bound method NDFrame.head of     slength swidth plength pwidth         species
0       5.1    3.5     1.4    0.2     Iris-setosa
1       4.9    3.0     1.4    0.2     Iris-setosa
2       4.7    3.2     1.3    0.2     Iris-setosa
3       4.6    3.1     1.5    0.2     Iris-setosa
4       5.0    3.6     1.4    0.2     Iris-setosa
5       5.4    3.9     1.7    0.4     Iris-setosa
6       4.6    3.4     1.4    0.3     Iris-setosa
7       5.0    3.4     1.5    0.2     Iris-setosa
8       4.4    2.9     1.4    0.2     Iris-setosa
9       4.9    3.1     1.5    0.1     Iris-setosa
10      5.4    3.7     1.5    0.2     Iris-setosa
11      4.8    3.4     1.6    0.2     Iris-setosa
12      4.8    3.0     1.4    0.1     Iris-setosa
13      4.3    3.0     1.1    0.1     Iris-setosa
14      5.8    4.0     1.2    0.2     Iris-setosa
..      ...    ...     ...    ...             ...
135     7.7    3.0     6.1    2.3  Iris-virginica
136     6.3    3.4     5.6    2.4  Iris-virginica
137     6.4    3.1     5.5    1.8  Iris-virginica
138     6.0    3.0     4.8    1.8  Iris-virginica
139     6.9    3.1     5.4    2.1  Iris-virginica
140     6.7    3.1     5.6    2.4  Iris-virginica
141     6.9    3.1     5.1    2.3  Iris-virginica
142     5.8    2.7     5.1    1.9  Iris-virginica
143     6.8    3.2     5.9    2.3  Iris-virginica
144     6.7    3.3     5.7    2.5  Iris-virginica
145     6.7    3.0     5.2    2.3  Iris-virginica
146     6.3    2.5     5.0    1.9  Iris-virginica
147     6.5    3.0     5.2    2.0  Iris-virginica
148     6.2    3.4     5.4    2.3  Iris-virginica
149     5.9    3.0     5.1    1.8  Iris-virginica

[150 rows x 5 columns]>

In [19]:
dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
slength    150 non-null object
swidth     150 non-null object
plength    150 non-null object
pwidth     150 non-null object
species    150 non-null object
dtypes: object(5)
memory usage: 5.9+ KB

### Hint

There are some ways to get help about modules and methods in Jupyter:

In [20]:
dataframe. #(tab completion - type tab after the dot to see all methods)

SyntaxError: invalid syntax (<ipython-input-20-b42447b352cc>, line 1)

Get help about this object, if there is any:

In [ ]:
dataframe?

### 3. Indexing on a DataFrame

By methods:

In [ ]:
dataframe.iat[149,1] # by integer numbers (row 149, column 1)

In [ ]:
dataframe.at[149,'slength'] # by row number and column name

In [ ]:
dataframe.iat[149,1]=10 # Assign a new value

Indexing a group/subset of the dataframe

In [ ]:
sdf = dataframe.iloc[0:10,0:5]
print(sdf)

**Important** 
When you assign a (subset) of dataframe to a new one like above, no copy is made. This means that if you change values of the new frame, also the orginal frame will be changed. If you want a copy, you need to use the copy method.

Indexing by column names...

In [ ]:
sdf['slength']

Selecting (filtering) by column valuess_df = dataframe[dataframe['species']=='Iris-setosa']

In [ ]:
s_df = dataframe[dataframe['species']=='Iris-setosa']

In [ ]:
s_df.head

Vectorized dataframe manipulations...

In [ ]:
s_df['half slength']=s_df['slength'].astype('float')/2.
s_df.head

### 4. Sorting on a DataFrame

...

In [ ]:
s_df.sort_values(['slength','swidth']).head

In [ ]:
s_df.head

You may measure the time needed for the execution, e.g. with the system command time. System commands are executed with a %:

In [ ]:
%time s_df[s_df['species']=='Iris-setosa'].sort_values('slength').head

In [ ]:
%ls -l # list the file in your current directory with the linux command ls

### 5. Filtering on a DataFrame
...

In [ ]:
s_df['slength'].astype('float')>5.0

In [ ]:
s_df_large = s_df[s_df['slength'].astype('float')>5.0]

In [ ]:
s_df_large.head

### 6. Missing or bad data

Datasets, in particular before they are "cleaned", may contain missing or wrongly formated values. There are DataFrame methods to deal with this:

- DataFrame.dropna([axis, how, thresh, 因)	Remove missing values.
- DataFrame.fillna([value, method, axis, 因)	Fill NA/NaN values using the specified method
- DataFrame.replace([to_replace, value, 因)	Replace values given in to_replace with value.
- DataFrame.interpolate([method, axis, limit, 因)	Interpolate values according to different methods.

### 7. Exporting dataframes

DataFrame has several export methods. (html, hdf5, ascii, excel etc). Let's write our file to a text file in a csv format.

In [ ]:
s_df.to_csv('~/Desktop/myout.txt')

### 8. Metadata


Metadata is data about the data, e.g. when was it collected, under which conditions, calibration etc. 
Metadata is normally not part of the statistical data analysis. 

DataFrame is not really made for storing metadata (should be done separately), but one can add new attributes to a dataframe:

In [ ]:
s_df.myinstrument_name = 'Binky'
s_df.myinstrument_name

### 9. Working on the filesystem with the os module

When managing large datasets, one often has to organise files in the file system. This includes finding them, moving and copying them, creating new folders/directories, renaming them etc. This can easily be done from Python with the os (operating system) module. 

Try to understand the following code and alter it to do something else.

In [ ]:
import os

new_dir = os.getcwd() +'/newnbdir' # Get the current directory into a string, add /newnbdir to the string
os.makedirs(new_dir) # Create the folder
files = os.listdir() # List the files in the current folder
nb_files = [] # Create an empty list
for file in files:
    if 'ipynb' in file and file[0]!='.':
        nb_files.append(file)
for file in nb_files:
    os.system('cp '+file+' '+new_dir+'/')

## Exercise

Read in the iris dataset from iris.csv into a dataframe. Set the values column 1 in row 39, 49 and 100 to NaN. Save the 100 first rows of the manupilated data set as file iris-NaN.csv.
Read in this file and set all the NaN values to the average value of the respective column.
Depending on how you do it, this may be 20-40 lines of Python code.

In [21]:
# Example on how to fill a dataframe with some NaN
import numpy as np
df = pd.DataFrame(np.random.randn(1000,1000))
df[df > 0.9] = pd.np.nan
df.head

<bound method NDFrame.head of           0         1         2         3         4         5         6    \
0    0.642134 -0.558046 -0.287874 -1.447960       NaN -1.338205  0.241819
1   -0.145804 -1.102466 -0.916527 -2.631535  0.019301 -0.078887       NaN
2   -0.296863       NaN -0.986844 -1.641854  0.073755 -0.834819       NaN
3    0.675548 -0.336745  0.399539 -1.195764  0.805444 -1.411983  0.542212
4         NaN -0.760234 -0.891004 -1.234054  0.111736 -0.323086 -0.985288
5   -1.299589 -0.616774 -0.371745 -0.775786 -0.583142 -1.265045 -1.337844
6   -0.918422       NaN -0.239595 -0.674718 -0.175264 -0.206493 -0.517457
7   -0.241084  0.349308  0.263156       NaN  0.460787 -0.294682  0.674310
8   -0.803603       NaN  0.305325  0.393645  0.442823  0.724301  0.162885
9         NaN       NaN       NaN       NaN  0.435204 -0.825935       NaN
10  -1.229060 -1.022178 -0.048276 -0.933538       NaN -0.518877 -0.337125
11  -1.722253 -0.592439  0.714840       NaN       NaN -0.226841 -0.878795
12  -0.680068  0.068169 -0.291947  0.794404       NaN  0.199702       NaN
13        NaN -1.313319 -0.279521  0.324167       NaN -0.092606  0.464031
14        NaN       NaN -0.842280 -0.288408 -0.621057  0.330598       NaN
..        ...       ...       ...       ...       ...       ...       ...
985  0.304039       NaN  0.162097       NaN -1.641157  0.520840 -0.768008
986  0.156013  0.140402 -1.115040 -0.838241       NaN  0.452949 -1.257036
987  0.523240       NaN -1.085033       NaN  0.861114 -0.935155 -0.197166
988 -0.826018  0.224484  0.547551 -0.204286 -0.006116  0.318721 -0.418222
989 -0.733979  0.631923  0.459024 -1.929988  0.450622       NaN -0.561799
990 -0.233705       NaN -0.256652  0.702352  0.563400 -0.017645  0.288337
991  0.749287  0.040470 -0.290917 -0.697449 -1.718461  0.354622  0.600100
992       NaN  0.019755 -1.487097       NaN  0.482136  0.134425  0.194695
993  0.411604 -1.024989  0.198761       NaN -0.684513 -0.230274 -0.065306
994       NaN  0.821215 -0.143493       NaN       NaN  0.385422  0.503809
995 -1.074967  0.144802  0.685817       NaN  0.612975       NaN -1.071965
996  0.387352  0.004426  0.609027  0.493642  0.486611 -1.089035 -0.565315
997       NaN -0.552787  0.185307  0.076307 -1.031946  0.059245  0.187504
998 -0.335038       NaN       NaN       NaN -2.182266  0.299233  0.227314
999       NaN  0.173430 -0.097054       NaN -0.327380 -0.265113       NaN

          7         8         9    ...       990       991       992  \
0   -0.852023  0.157797 -1.674305  ...       NaN -0.814753 -0.899094
1    0.535687 -1.020463 -0.876123  ...       NaN       NaN -0.504069
2   -0.106638 -0.209149       NaN  ...  0.365436 -0.174655 -1.069219
3    0.697017  0.448881       NaN  ... -0.992288  0.805184  0.048147
4    0.182112       NaN  0.676116  ...  0.863739 -0.091104 -0.073191
5   -0.159261  0.124157  0.429404  ... -1.686336  0.030923 -0.406798
6   -0.116942 -1.607497  0.246815  ...  0.027369 -0.038345  0.075993
7   -0.244793 -0.183922       NaN  ... -1.167412       NaN  0.784455
8   -1.548362 -0.469290 -1.386388  ... -1.012415       NaN       NaN
9   -0.182205 -1.293023 -0.615812  ...       NaN  0.197951       NaN
10        NaN -0.351675 -0.467201  ... -1.521333 -0.008413 -0.012063
11        NaN -0.639231 -0.534606  ... -1.842853       NaN -0.237843
12  -2.030864  0.209236  0.464045  ...       NaN  0.205695 -0.334745
13        NaN -0.029130  0.284124  ... -0.885372  0.421193 -0.186473
14  -0.274283 -0.012961 -0.422649  ...  0.411207       NaN  0.431246
..        ...       ...       ...  ...       ...       ...       ...
985 -0.555159 -1.030537       NaN  ...  0.438400  0.190478 -0.074370
986 -1.531171  0.475689 -0.079224  ...  0.351702 -0.294732 -0.661319
987  0.734871 -0.797299 -1.276979  ...  0.056430  0.040229       NaN
988 -2.506165       NaN -0.457316  ... -1.068238  0.551474 -0.947694
989  0.555343 -2.093025       NaN  ... -1.592976       NaN -0.268882
990       NaN -1.430864 -1.536598  ...  0.038715 -2.055491  0.824444
991 -0.641443 -1.430072       NaN  ... -0.615054  0.098321       NaN
992 -0.525968       NaN  0.818852  ...  0.699239 -0.744329 -0.415172
993  0.595213 -0.220581 -0.876402  ...       NaN  0.096410  0.664996
994       NaN  0.524271  0.398946  ... -0.606627  0.439173       NaN
995       NaN       NaN  0.805964  ...       NaN -0.309693  0.488429
996  0.126509 -2.020424  0.119116  ...  0.086034       NaN  0.303317
997  0.690633       NaN  0.890693  ...  0.142094 -0.525500 -2.431775
998       NaN       NaN -0.495330  ... -1.073214 -1.413486 -1.796639
999       NaN  0.619986       NaN  ... -0.936912       NaN -0.705830

          993       994       995       996       997       998       999
0   -0.468943 -1.546841 -0.057131       NaN -0.455177 -0.314327 -0.102268
1         NaN       NaN       NaN  0.253683 -0.297387 -1.108890 -0.639874
2   -1.307440  0.645719 -0.547205 -0.305834       NaN -0.857071 -0.793565
3   -1.604789  0.632818 -1.134816 -1.573522  0.171063  0.635959 -0.019427
4    0.737477  0.138028       NaN -0.236646       NaN -0.417711 -0.063733
5    0.898242 -0.698746  0.499032 -0.931382 -1.437747 -0.846048 -0.020250
6   -1.204319       NaN       NaN  0.101773       NaN -0.679593 -0.039837
7   -2.473056  0.087247       NaN -0.900231  0.444192 -1.280674  0.333284
8   -0.158003       NaN       NaN -0.924127 -0.207288  0.438506 -0.346247
9   -1.076200       NaN -0.520864  0.303155       NaN  0.659410 -0.637494
10  -2.021115       NaN  0.035436  0.845194 -0.455253       NaN -0.299815
11  -0.986436 -1.064077  0.637860       NaN       NaN -1.158124 -0.567547
12  -0.343335  0.279504       NaN -0.749733 -0.432708       NaN -0.769891
13   0.002304  0.297313 -0.086439 -0.819461  0.061000  0.246289 -1.809329
14  -0.888549 -0.277548       NaN -0.165759       NaN -0.136901  0.899066
..        ...       ...       ...       ...       ...       ...       ...
985       NaN       NaN  0.182752  0.885043 -0.304424 -0.041036 -0.742258
986       NaN -0.102730 -0.687179       NaN       NaN  0.344827 -0.186634
987  0.530263       NaN -0.108548  0.740262       NaN -0.462575 -0.760647
988 -1.534901       NaN -1.210595  0.119190 -0.692354       NaN -0.420410
989 -1.368329       NaN       NaN  0.694884  0.402129 -2.709279       NaN
990 -0.429398 -0.425044 -0.703064 -0.289974       NaN -1.175397 -0.097774
991 -0.184535 -1.020209       NaN -0.582722       NaN -0.659901  0.036349
992  0.773772 -0.524511 -0.859425       NaN -0.750527 -0.211787 -1.540719
993       NaN -0.211486 -0.479724 -0.359467 -0.444056  0.295582 -0.266297
994       NaN -0.710791 -2.004258  0.454528 -0.474300       NaN -0.687704
995       NaN -0.357305  0.475261 -0.081963       NaN  0.121205 -1.596080
996  0.650533  0.251501       NaN  0.640670 -0.120851 -0.462700  0.107847
997  0.767019 -0.757047 -0.921621  0.311760  0.271202  0.885209  0.118337
998 -0.572328 -0.816046  0.382319 -0.116883       NaN -1.289582  0.374502
999 -0.156193 -0.696668  0.024987 -0.696890 -1.276824 -0.461810  0.516433

[1000 rows x 1000 columns]>

In [22]:
# Solve your exercise here

# End of today - remember to fill the mandatory form

Everyone has to fill this form by 10 pm : https://forms.gle/bzDpGLUieVnheZUi6.
Have a nice evening and see you tomorrow.